*{
  margin: 0;
  padding: 0;
  background-color: #22000E;
  text-decoration: none;
}

:root{
  --but: rgba(217, 217, 217, 0.5);

}

/* Navbar  */

.navbar{
  background-color: rgba(180, 36, 55, 0.6);

}

.lien_nav{
  background-color: rgba(217, 217, 217, 0.5);
  background: var(--but);
  border-radius: 50px;
  width: 150px;
  height: 40px;
}

.lien_nav a {
  background: var(--but);
}